UT02-ejercicios/Ejercicios de validacion de documentos XML con DTD/ejercicio 3/personas.dtd

<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre, apellidos, telefono, email, direccion)>
<!ATTLIST persona
id ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (tipo_via, nombre_via, numero)>
<!ELEMENT tipo_via (#PCDATA)>
<!ELEMENT nombre_via (#PCDATA)>
<!ELEMENT numero (#PCDATA)>